<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ショッピングカート</title>
</head>
<body>
	<h1>ショッピングカート</h1>
	<form action="/cart/add" method="post">
		<input type="text" name="name" placeholder="商品名" />
		<input type="text" name="price" placeholder="価格" />
		<button>カートに追加</button>
	</form><br />
	<th:block th:if="${@cart.itemList.size()}">
		<table border="1">
			<tr>
				<th>商品名</th>
				<th>価格</th>
			</tr>
			<tr th:each="item : ${@cart.itemList}">
				<td>[[${item.name}]]</td>
				<td>[[${item.price}]]</td>
			</tr>
		</table>
		<p><a href="/cart/clear">カートのクリア</a></p>
	</th:block>
</body>
</html>